# Node
node_modules/
.env
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
back/prisma/dev.db
back/prisma/dev.db-journal

# VSCode
.vscode/

# Docker
*.local
docker-compose.override.yml

# OS
.DS_Store
